body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.page-wrapper {
    width: 60%;
}

.container {
    display: flex;
    justify-content: space-between
}

.table {
    font-size: large;
    font-weight: 600;
}

.wrapper-exercises, .table {
    width: 100%;
    text-align: center;
}

.wrapper-exercises .container div, .table div {
    width: 33.33%;
}

.wrapper-exercises .container span {
    font-size: 16px;
}
